@media (max-width: 768px) {
	header {
		.upper-site {
			&::after {
				display: none;
			}
			.logo-img {
				width: 3rem;
				height: 3rem;
			}
			.title {
				h1 {
					font-size: 2rem;
				}
				h2 {
					font-size: 1.5rem;
				}
			}
			.right-menu {
                .acc-name{
                    font-size: 1.3rem;
                }
			}
		}
	}
}
