@media (max-width: 576px) {
	header{
		.upper-site {
			&::after {
				display: none;
			}
			.logo-img {
				display:none;
			}
			.title {
				width: 100%;
				h1 {
					font-size: 1.8rem;
				}
				h2 {
					font-size: 1.2rem;
				}
			}
			.right-menu {
				.acc-name {
					display: none;
				}
				.right-burger-menu {
					display: flex;
					justify-content: center;
					align-items: start;
					margin-top: 10px;
					font-size: 2rem;
				}
			}
		}

	}
}

@media (min-width: 576px) {
    .right-burger-menu {
        display: none;
    }
}
