@media (max-width: 576px) {
	body {
		background-image: url("../../dist/img/background-mobile.jpg");
		header {
			.upper-site {
				&::after {
					display: none;
				}
				.logo-img {
					display: none;
				}
				.title {
					width: 100%;
					h1 {
						font-size: 1.8rem;
					}
					h2 {
						font-size: 1.2rem;
					}
				}
				.right-menu {
					.acc-name {
						display: none;
					}
					.right-burger-menu {
						display: flex;
						justify-content: center;
						align-items: start;
						margin-top: 10px;
						font-size: 2rem;
					}
				}
			}
			.nav {
				display: block;
			}
		}
	}
	main {
		.computer {
			&__box {
				.first-box {
					background-image: url("../../dist/img/myComputer/procesor-small.jpg");
				}
				.second-box {
					background-image: url("../../dist/img/myComputer/graphic-card-small.jpg");
				}
				.third-box {
					background-image: url("../../dist/img/myComputer/ram-small.jpg");
				}
				.fourth-box {
					background-image: url("../../dist/img/myComputer/charger-small.jpg");
				}
				.fifth-box {
					background-image: url("../../dist/img/myComputer/fan-small.jpg");
				}
				.sixth-box {
					background-image: url("../../dist/img/myComputer/motherboard-small.jpg");
				}
				.seventh-box {
					background-image: url("../../dist/img/myComputer/disc-\ small.jpg");
				}
				.eigth-box {
					background-image: url("../../dist/img/myComputer/monitor-small.jpg");
				}
			}
		}
	}
}
@media (min-width: 576px) {
	.right-burger-menu {
		display: none;
	}
}
