*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: #e9a6a6;
}

body {
	font-family: "Roboto Condensed", sans-serif;
	background-color: #e0dfe9;
	color: #5c5050;
	font-size: 62.5%;
	scroll-behavior: smooth;
	height: 1000px;
}
header {
	.wrapper {
		margin: 0 auto;
		width: 100%;
		max-width: 1250px;
	}
	.upper-site {
		display: inline-flex;
		justify-content: space-around;
		width: 100%;
		&::after {
			content:'';
			position: absolute;
			left: 0;
			width: 100%;
			border-bottom: 1px solid black;
		}
		.logo-img {
			margin-top: 10px;
			margin-left: 10px;
			width: 4rem;
			height: 4rem;
			transition: transform 0.2s linear;
			&:hover {
				cursor: pointer;
				transform: scale(1.1);
			}
		}
		.title {
			text-align: center;
			h1 {
				font-size: 4rem;
				color: black;
			}
			h2 {
				font-size: 3rem;
				color: black;
			}
		}
		.right-menu {
			padding: 10px;
			color: #000;
			display: block;
			.acc-name {
				margin-top: 10px;
				font-size: 1.5rem;
				transition: text-shadow 0.1s linear;
				&:hover {
					cursor: pointer;
					text-shadow: 1px 1px 1px black;
				}
			}
			.dark-light-mode {
				text-align: center;
				font-size: 1.5rem;
				transition: transform .1s linear;
				&:hover {
					cursor: pointer;
					transform: scale(1.1)
				}
			}
		}
	}

}



@import "./small";
@import "./medium";
@import "./large";
